html {
    scroll-behavior: smooth;
  }
  
body{
    background: black;
    font-family: 'Roboto Mono', monospace;
    color:white;
    font-size: 60px;
    margin:0;
}

.svgdiv{
    height:100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin:0;

}

svg{
    height:50%;
}

.svgarrow{
    position:absolute;
    top:500px;
    left:-300px;
}

.svgarrow2{
    position:absolute;
    top:500px;
    right:0px;
    z-index:0;
}

polygon.arrow1{
    /*animation: animate 2s linear infinite;*/

    height:200%;
    width:200%;
    transform: translate(0px, 0px);
}

polygon.arrow2{
    /*animation: animate 2s linear infinite;*/

    height:200%;
    width:200%;
    transform: translate(200px, 154px) rotate(185deg);
    z-index:100;
}

@keyframes lineanimation{
    to {
        stroke-dashoffset: 0;
        transform: translate(200px, 200px);
      }
}

path#S, path#K{
    stroke-dasharray: 100;
    stroke-dashoffset: 200;
    animation: animate 10s linear infinite;
    fill:grey;
}

@keyframes animate{
    to {
        stroke-dashoffset: 0;
      }
}

path#S2, path#K2{
    stroke-dasharray: 150;
    stroke-dashoffset: 300;
    animation: animate2 10s linear infinite;
    stroke:#9b0b00;
}

@keyframes animate2{
    to {
        stroke-dashoffset: 0;
      }
}

.page_second{
    display: block;
    font-family: 'Roboto Mono', monospace;
    height:100vh;
}

.page_second img{
    position:absolute;
    z-index:-1;
    max-width: 100%;
    max-height: 100%;
    width:100%;
    height:100%;
    filter: brightness(10%);
}

.css-typing{
    padding:100px 100px 100px 100px;
    height: fit-content;
}

.typewriter_text{
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid orange;
    box-sizing: border-box;
    animation-fill-mode: forwards;
    margin-right:10px;
}
.typewriter_text:nth-child(1)
{
    animation: typing 5s steps(30, end), blink .75s step-end;   
    animation-fill-mode:forwards;
}

.typewriter_text:nth-child(2)
{
    animation: typing2 5s steps(22, end), blink .75s step-end infinite;
    animation-delay: 5s;
    opacity:0;
    animation-fill-mode:forwards;
}
@keyframes typing {
    from { 
        width: 0%;
    }
    to { 
        width: 100%;
    }
}

@keyframes typing2 {
    from { 
        width: 0%;
        opacity:1;
    }
    to { 
        width: 100%;
        opacity:1;
    }
    
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}
.page_second .button_area{
    margin-top:200px;
    text:center;
    font-size: 40px;
}

.button{
    display: inline-block;
    border:2px solid #9b0b00;
    padding:30px;
    width:fit-content;
    transition-timing-function: ease-in;
    transition: 1s;
    cursor: pointer;
}

.button:hover{
    background-color:#9b0b00;
    transition-timing-function: ease-in;
    transition: 1s;
    
}

.page_design{
    height:100vh;

    
}
.page_design .heading{
    padding:60px;
}

.design_work1{
    
    display: block;
    padding:130px 80px;
    padding-bottom:100px;
}

.image{
    display: inline-block;
    position: relative;
}
.work_image{
    animation:imgevento 6s linear alternate infinite;
}

.image_overlay{
    z-index:200;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 97%;
    width: 100%;
    opacity: 0.4;
}

@keyframes imgevento{
    0%, 100% {
        transform: rotate3d(10, 0, 0, -15deg);

    }
    25% { transform: rotate3d(10, 0, 0, 10deg);

    }
    50% { transform: rotate3d(10, 0, 0, -15deg);

    }
    75% { transform: rotate3d(10, 0, 0, 10deg);

    }
}

.work{
    position:absolute;
    display: inline-block;
    vertical-align: top;
    margin: 0 150px;
    padding: 0;
    height: 100%;
    font-size: 20px;
}
.work_heading{
    display: inline-block;
}

.work_text{
    display: inline-block;
    margin: 40px 0;
}

.page_design .button{
    margin-top: 25px;
    padding:45px 75px;
}

.hello{
    background: rgba(39,62,84,0.82);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.svg{
    display:block;
}

svg{
    display:block;
}

a {
    color:white;
 }