*{
	overflow: hidden;
}

.main{
	height:100vh;
}

.container{

	height:100vh;
}
.fixed{
	position: fixed;
	height: 100vh;
}
.sidebar{
	background-color: #00001E;

}

.upper{
	text-align: :center;
	height:25%;

}

.uppercol{
	margin:0 auto;

}
.lower{
	height:70%;
}


.btn-upper{

    width: 200px;
    height: 200px;

}

.btn-lower{
	/*margin-left:70px;*/

    width: 35px;
    height: 35px;

}

.btn-circle {
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

.me{
	background:transparent url(Me2.png) no-repeat top;
	padding-bottom: :5px;
	border:None;
}

hr.divider{
	width:60%;
	border:0.5px solid black;
}
hr.vertical{
	/*margin-left:35px;*/
	position:absolute;
	width:0;
    height:17vh; 
    border:0.7px solid white;
}
hr.vertical1 {
	top:34vh;
    border-color:#E25E44;
}
hr.vertical2 {
	top:51vh;
}
hr.vertical3 {
	top:68vh;
}

hr.vertical4 {
	top:85vh;
}
hr.horizontal{
	border-top:1.5px solid white;
	width:70%;
}

hr.horizontal1{
	border-top-color:#E25E44;
}

.card{
	height:75vh;
	border-radius: 15px;
	box-shadow: 1px 0px 10px rgb(75,75,75);
}


.scrollable{
	height:100vh;
	max-height: 100vh;
	overflow: scroll;
}


span.first-link,span.second-link,span.third-link,span.fourth-link{
	position: absolute;
	

}
div.textLink{
	color:white;
	margin-top: 10vh;
	margin-bottom: -1vh;
}

.first-link{
	background-color:#E25E44;
	top:34vh;
}

.second-link{
	top:51vh;
}
.third-link{
	top:68vh;
}
.fourth-link{
	top:85vh;
}

.textDivsLeft{
	color:white;
	text-align: left;
}

.textDivsRight{
	color:white;
	text-align: right;
}

img{
	height:50px;
	width:50px;

}